@using Microsoft.JSInterop
@inject IJSRuntime jsRuntime

<div id="@elementId" style="height: 100%; width: 100%;"></div>

@functions {
    string elementId = $"map-{Guid.NewGuid().ToString("D")}";

    [Parameter] public double Zoom { get; set; }
    [Parameter] public List<Marker> markers { get; set; } = new();

    protected async override Task OnAfterRenderAsync(bool isFirst)
    {
        await jsRuntime.InvokeVoidAsync("window.deliveryMap.showOrUpdate",elementId, markers);
    }
}